@font-face{
	font-family: "Bebas";
	src: url('BebasNeue-Regular.otf');
}

@font-face{
	font-family: "Lato";
	src: url('Lato-Black.ttf');
}

body {
	margin: 0px;
	overflow-y: visible;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
}

@media only screen and (max-width: 600px) {
	body {
		-webkit-user-select: none; /* Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */
	}
}

.active {
	border-bottom: solid 2px #ffdd44;
}

.menudiv {
	top: 0%;
	margin: 0;
	padding: 0;
	height: 2vw;
	width: 100% !important;
	position: fixed;
	z-index: 100;
}

.menu {
	margin: 0;
	position: absolute;
	top: 0;
	display: flex;
	width: 100%;
	height: 4vw;
	line-height: 4vw;
	padding: 0;
}

.menu li {
	margin-top: 0;
	padding: 0;
	width: 8%;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
	display: block;
	transition: all 0.5s ease-in-out;
}

.menu li a:hover {
	border-bottom: 2px solid white;
	transition: all 0.4s ease-in-out;
}

.menu li a {
	text-decoration: none;
	color: white;
	font-family: Lato;
	font-size: 1vw;
	padding: 0;
	transition: all 0.4s ease-in-out;
}

.past-main {
	background-color: black;
}

/* If the screen size is 601px or less*/
@media only screen and (max-width: 600px) {
    .menu li a {
		font-size: 2vw;
    }
	.menu li {
		width: 20%;
	}
	.menu {
		height: 8vw;
		line-height: 8vw;
	}
	.menudiv {
		height: 4vw;
	}
}

.section1 {
	margin: 0;
	width: 100%;
	height: 100vh;
    z-index: 30;
	background-color: #ffffff;
	position: static;
}

.backToTop {
	height: 6vw;
	width: 6vw;
	right: 5%;
	top: 90%;
	position: fixed;
	z-index: 120;
	border: 1.5px solid white;
	border-radius: 50%;
	line-height: 6vw;
	opacity: 0;
}

.backToTop a {
	display: block;
	text-decoration: none;
	font-size: 4vw;
	font-family: Lato;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	color: white;
	position: relative;
	z-index: 140;
	opacity: 0;
}

/* If the screen size is 400px or less*/
@media only screen and (max-width: 600px) {
    .backToTop, .backToTop a {
		opacity: 1;
    }
}

.backgroundvideo {
	height: 100% !important;
	width: 100% !important;
	overflow-x: hidden;
	background-color: #dddddd;
	position: absolute;
	background-size: cover;
	background-image: url("bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	filter: grayscale(100%);
	-webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.titlePageText {
	position: absolute;
	top: 35%;
	left: 50%;
	width: 100%;
	text-align: center;
	transform: translate(-50%, -50%);
	font-family: Lato;
	font-size: 10vw;
	z-index: 20;
	color: white;
	-webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
	-webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.centerdiv  {
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 5vw;
	width: 10vw;
	border: 2px solid white;
	background-color: #aaaaaa;
	position: absolute;
	line-height: 5vw;
	z-index: 10;
	overflow: hidden;
	transition: 0.5s all ease-in-out;
	background-color: rgb(212, 39, 86);
	cursor: pointer;
}

.overlay {
	height: 5vw;
	width: 10vw;
	top: 0vw;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	z-index: 20;
	transition: 0.5s all ease-in-out;
	cursor: move;
}

.centerdiv:hover > .overlay {
	top: -5vw;
	transition: 0.5s all ease-in-out;
	background-color: rgba(255,200,0,0.5);
}

.centerdiv:hover > .backgroundvideo  {
	filter: grayscale(0%);
}

.centerdiv:hover {
	transition: 0.5s all ease-in-out;
	filter: grayscale(0%);
}

.centerdiv:hover > .titlePageText {
	color: #ffdd44;
}

.centerdivtext {
    position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	vertical-align: middle;
	text-align: center;
	color: white;
	font-family: Bebas;
	font-size: 1.5vw;
	word-wrap: none;
	z-index: 30;
}

/* If the screen size is 601px or less*/
@media only screen and (max-width: 600px) {
    .centerdiv {
		height: 10vw;
		width: 30vw;
		line-height: 10vw;
    }
	.overlay {
		height: 10vw;
		width: 30vw;
    }
    .centerdiv:hover > .overlay {
		top: -10vw;
    }
	.centerdivtext {
	font-size: 4vw;
	vertical-align: middle;
	text-align: center;
    }
}

/*=============================SECTION 2 START=======================================*/

.section2 {
	height: auto;
	width: 100% !important;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #ffffff;
	border-top: 2px solid #555555;
	position: static;
	z-index: 40;
}

.currenteventbanner {
	width: 100%;
	height: 10vw;
	background-color: #333333;
	padding: 0;
	margin: 0;
	line-height: 10vw;
	border-bottom: 2px solid #555555;
	position: absolute;
}

.currenteventbanner p {
	font-family: Bebas;
	color: white;
	padding: 0;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	font-size: 8vw;
	font-style: italic;
}

.eventinfo {
	height: auto;
	position: relative;
}

/* If the screen size is 601px or less*/
@media only screen and (max-width: 600px) {
    .currenteventbanner {
	line-height: 8vw;
    }
	.currenteventbanner p {
	font-size: 8vw;
    }
}

/*==================================TABLE======================================*/

.tablewrapper {
	z-index: 10;
	width: 100%;
	height: 100%;
	margin-top: 10vw;
	overflow: hidden;
}

.tablewrapper table {
	border-collapse: separate;
	border-spacing: 30px;
	margin: 0 auto;
	overflow: hidden;
}

.tablewrapper td {
	height: 20.82vw;
	width: 30.82vw;
	padding: 0;
	margin: 0;
	overflow: hidden;
	border-bottom: solid 2px #cccccc;
}

/* If the screen size is 601px or less*/
@media only screen and (max-width: 600px) {
    .tablewrapper table {
	border-spacing: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .tablewrapper td {
	height: 31.23vw;
	width: 46.23vw;
    }
}

/*TABLE ROW 1*/

/*--------------------TABLE CELL 1 START--------------------*/
.hovergraphic1 {
	margin-top: -10%;
	background-color: rgba(255, 255, 255, 0.0);
	position: relative;
	overflow: visible;
	height: 100%;
	width: 100%;
	transform: rotateZ(-45deg);
	cursor: pointer;
}

.hovergraphic1::before {
	position: absolute;
	content: '';
	top: -10vw;
	left: 35vw;
	transform: rotateZ(-45deg) translate(0vw, 0 vw);
	width: 100%;
	height: 50vw;
	background: rgba(255,255,255,0.5);
}

.hovergraphic1:hover::before {
	animation: hoverGraphic 0.7s forwards, hoverGraphicScale 0.3s forwards;
	pointer-events: none;
}

@keyframes hoverGraphic {
	100%{
		transform: translate(-75vw, 0vw);
	}
}

.tr1 td:nth-child(1) {
	background-image: url('lt.jpg');
	background-color: rgba(255, 255, 255, 0.3);
	z-index: 1;
	vertical-align: top;
	overflow: hidden;
	position: relative;
	background-size: 100% 100%;
	background-position: center;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	
}

.tr1 td:nth-child(1):hover {
	color: white;
	background-size: 110% 110%;
	background-position: center;
	z-index: 1;
}

/*TEXT TABLE CELL 1 START*/

.td1text {
	height: 20.82vw;
	width: 30.82vw;
}

.td1text h3 {
	font-family: Bebas;
	font-size: 2vw;
	color: #ffdd44;
	float: left;
	position: relative;
	margin-top: 1vw;
	margin-left: 2vw;
}

.td1text p {
	margin-top: 17.25vw;
	margin-left: 6vw;
	margin-right: 0vw;
	text-align: right;
	float: right;
	position: absolute;
	font-family: Lato;
	font-size: 0.8vw;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
}

.tablespacer1 {
	width: 3px;
	background-color: white;
	height: 2.6vw;
	float: right;
	position: relative;
	z-index: 10;
	margin: 17.2vw 2.5vw 0vw 0vw;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
}

/*GREEN OVERLAY*/

.tableoverlay1 {
	height: 20.82vw;
	width: 30.82vw;
	margin-top: 2.2vw;
	margin-left: -2.2vw;
	background-color: rgba(255, 221, 68, 0.0);
	position: absolute;
	z-index: 20;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transform: rotateZ(45deg);
}

.hovergraphic1:hover > .tableoverlay1 {
	background-color: rgba(255, 221, 68, 0.3);
}

.hovergraphic1:hover > .tableoverlay1 .td1text p {
  opacity: 1;
}

.hovergraphic1:hover > .tableoverlay1 .tablespacer1 {
  opacity: 1;
}

/* If the screen size is 601px or less*/

@media only screen and (max-width: 600px) {
    .hovergraphic1::before {
	display: none;
    }
}

@media only screen and (max-width: 600px) {
    .td1text {
	height: 31.23vw;
	width: 46.23vw;
    }
}

@media only screen and (max-width: 600px) {
	.td1text h3 {
	font-size: 6vw;
    }
}

@media only screen and (max-width: 600px) {
    .td1text p {
	font-size: 2vw;
	margin-right: 4vw;
    }
}

@media only screen and (max-width: 600px) {
    .tableoverlay1 {
	margin-top: 3.4vw;
	margin-left: -3.4vw;
	height: 31.23vw;
	width: 46.23vw;
    }
}

@media only screen and (max-width: 600px) {
    .tablespacer1 {
	height: 10.7vw;
    }
}

/*--------------------TABLE CELL 2 START--------------------*/
.hovergraphic2 {
	margin-top: -10%;
	background-color: rgba(255, 255, 255, 0.0);
	position: relative;
	overflow: visible;
	height: 100%;
	width: 100%;
	transform: rotateZ(-45deg);
	cursor: pointer;
}

.hovergraphic2::before {
	position: absolute;
	content: '';
	top: -10vw;
	left: 35vw;
	transform: rotateZ(-45deg) translate(0vw, 0 vw);
	width: 100%;
	height: 50vw;
	background: rgba(255,255,255,0.5);
}

.hovergraphic2:hover::before {
	animation: hoverGraphic 0.7s forwards, hoverGraphicScale 0.3s forwards;
	pointer-events: none;
}

@keyframes hoverGraphic {
	100%{
		transform: translate(-75vw, 0vw);
	}
}

.tr1 td:nth-child(2) {
	background-image: url('jw.png');
	background-color: rgba(255, 255, 255, 0.3);
	z-index: 1;
	vertical-align: top;
	overflow: hidden;
	position: relative;
	background-size: 100% 100%;
	background-position: center;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	
}

.tr1 td:nth-child(2):hover {
	color: white;
	background-size: 110% 110%;
	background-position: center;
	z-index: 1;
}

/*TEXT TABLE CELL 2 START*/

.td2text {
	height: 20.82vw;
	width: 30.82vw;
}

.td2text h3 {
	font-family: Bebas;
	font-size: 2vw;
	color: #ffdd44;
	float: left;
	position: relative;
	margin-top: 1vw;
	margin-left: 2vw;
}

.td2text p {
	margin-top: 17.25vw;
	margin-left: 4vw;
	margin-right: 3vw;
	text-align: right;
	float: right;
	position: absolute;
	font-family: Lato;
	font-size: 0.8vw;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
}

.tablespacer2 {
	width: 3px;
	background-color: white;
	height: 2.6vw;
	float: right;
	position: relative;
	z-index: 10;
	margin: 17.2vw 2.5vw 0vw 0vw;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
}

/*GREEN OVERLAY*/

.tableoverlay2 {
	height: 20.82vw;
	width: 30.82vw;
	margin-top: 2.2vw;
	margin-left: -2.2vw;
	background-color: rgba(255, 221, 68, 0.0);
	position: absolute;
	z-index: 20;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transform: rotateZ(45deg);
}

.hovergraphic2:hover > .tableoverlay2 {
	background-color: rgba(255, 221, 68, 0.3);
}

.hovergraphic2:hover > .tableoverlay2 .td2text p {
  opacity: 1;
}

.hovergraphic2:hover > .tableoverlay2 .tablespacer2 {
  opacity: 1;
}

/* If the screen size is 601px or less*/

@media only screen and (max-width: 600px) {
    .hovergraphic2::before {
	display: none;
    }
}

@media only screen and (max-width: 600px) {
    .td2text {
	height: 31.23vw;
	width: 46.23vw;
    }
}

@media only screen and (max-width: 600px) {
	.td2text h3 {
	font-size: 6vw;
    }
}

@media only screen and (max-width: 600px) {
    .td2text p {
	font-size: 2vw;
	margin-right: 4vw;
    }
}

@media only screen and (max-width: 600px) {
    .tableoverlay2 {
	margin-top: 3.4vw;
	margin-left: -3.4vw;
	height: 31.23vw;
	width: 46.23vw;
    }
}

@media only screen and (max-width: 600px) {
    .tablespacer2 {
	height: 10.7vw;
    }
}

/*--------------------TABLE CELL 3 START--------------------*/
.hovergraphic3 {
	margin-top: -10%;
	background-color: rgba(255, 255, 255, 0.0);
	position: relative;
	overflow: visible;
	height: 100%;
	width: 100%;
	transform: rotateZ(-45deg);
	cursor: pointer;
}

.hovergraphic3::before {
	position: absolute;
	content: '';
	top: -10vw;
	left: 35vw;
	transform: rotateZ(-45deg) translate(0vw, 0 vw);
	width: 100%;
	height: 50vw;
	background: rgba(255,255,255,0.5);
}

.hovergraphic3:hover::before {
	animation: hoverGraphic 0.7s forwards, hoverGraphicScale 0.3s forwards;
	pointer-events: none;
}

@keyframes hoverGraphic {
	100%{
		transform: translate(-75vw, 0vw);
	}
}

.tr2 td:nth-child(1) {
	background-image: url('hb.png');
	background-color: rgba(255, 255, 255, 0.3);
	z-index: 1;
	vertical-align: top;
	overflow: hidden;
	position: relative;
	background-size: 100% 100%;
	background-position: center;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	
}

.tr2 td:nth-child(1):hover {
	color: white;
	background-size: 110% 110%;
	background-position: center;
	z-index: 1;
}

/*TEXT TABLE CELL 3 START*/

.td3text {
	height: 20.82vw;
	width: 30.82vw;
}

.td3text h3 {
	font-family: Bebas;
	font-size: 2vw;
	color: #ffdd44;
	float: left;
	position: relative;
	margin-top: 1vw;
	margin-left: 2vw;
}

.td3text p {
	margin-top: 17.25vw;
	margin-left: 4vw;
	margin-right: 2vw;
	text-align: right;
	float: right;
	position: absolute;
	font-family: Lato;
	font-size: 0.8vw;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
}

.tablespacer3 {
	width: 3px;
	background-color: white;
	height: 2.6vw;
	float: right;
	position: relative;
	z-index: 10;
	margin: 17.2vw 2.5vw 0vw 0vw;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
}

/*GREEN OVERLAY*/

.tableoverlay3 {
	height: 20.82vw;
	width: 30.82vw;
	margin-top: 2.2vw;
	margin-left: -2.2vw;
	background-color: rgba(255, 221, 68, 0.0);
	position: absolute;
	z-index: 20;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transform: rotateZ(45deg);
}

.hovergraphic3:hover > .tableoverlay3 {
	background-color: rgba(255, 221, 68, 0.3);
}

.hovergraphic3:hover > .tableoverlay3 .td3text p {
  opacity: 1;
}

.hovergraphic3:hover > .tableoverlay3 .tablespacer3 {
  opacity: 1;
}

/* If the screen size is 601px or less*/

@media only screen and (max-width: 600px) {
    .hovergraphic3:before {
	display: none;
    }
}

@media only screen and (max-width: 600px) {
    .td3text {
	height: 31.23vw;
	width: 46.23vw;
    }
}

@media only screen and (max-width: 600px) {
	.td3text h3 {
	font-size: 6vw;
    }
}

@media only screen and (max-width: 600px) {
    .td3text p {
	font-size: 2vw;
	margin-right: 4vw;
    }
}

@media only screen and (max-width: 600px) {
    .tableoverlay3 {
	margin-top: 3.4vw;
	margin-left: -3.4vw;
	height: 31.23vw;
	width: 46.23vw;
    }
}

@media only screen and (max-width: 600px) {
    .tablespacer3	{
	height: 10.7vw;
    }
}

/*--------------------TABLE CELL 4 START--------------------*/
.hovergraphic4 {
	margin-top: -10%;
	background-color: #ffdd44
	position: relative;
	overflow: visible;
	height: 100%;
	width: 100%;
	transform: rotateZ(-45deg);
	cursor: pointer;
}

.hovergraphic4::before {
	position: absolute;
	content: '';
	top: -10vw;
	left: 35vw;
	transform: rotateZ(-45deg) translate(0vw, 0 vw);
	width: 100%;
	height: 50vw;
	background: rgba(255,255,255,0.5);
}

.hovergraphic4:hover::before {
	animation: hoverGraphic 0.7s forwards, hoverGraphicScale 0.3s forwards;
	pointer-events: none;
}

@keyframes hoverGraphic {
	100%{
		transform: translate(-75vw, 0vw);
	}
}

.tr2 td:nth-child(2) {
	background-image: url('sd.png');
	background-color: rgba(255, 255, 255, 0.3);
	z-index: 1;
	vertical-align: top;
	overflow: hidden;
	position: relative;
	background-size: 100% 100%;
	background-position: center;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	
}

.tr2 td:nth-child(2):hover {
	color: white;
	background-size: 110% 110%;
	background-position: center;
	z-index: 1;
}

/*TEXT TABLE CELL 4 START*/

.td4text {
	height: 20.82vw;
	width: 30.82vw;
}

.td4text h3 {
	font-family: Bebas;
	font-size: 2vw;
	color: #ffdd44;
	float: left;
	position: relative;
	margin-top: 1vw;
	margin-left: 2vw;
}

.td4text p {
	margin-top: 17.25vw;
	margin-left: 1vw;
	margin-right: 3vw;
	text-align: right;
	float: right;
	position: absolute;
	font-family: Lato;
	font-size: 0.8vw;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
}

.tablespacer4 {
	width: 3px;
	background-color: white;
	height: 2.6vw;
	float: right;
	position: relative;
	z-index: 10;
	margin: 17.2vw 2.5vw 0vw 0vw;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
}

/*GREEN OVERLAY*/

.tableoverlay4 {
	height: 20.82vw;
	width: 30.82vw;
	margin-top: 2.2vw;
	margin-left: -2.2vw;
	background-color: rgba(255, 221, 68, 0.0);
	position: absolute;
	z-index: 20;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transform: rotateZ(45deg);
}

.hovergraphic4:hover > .tableoverlay4 {
	background-color: rgba(255, 221, 68, 0.3);
}

.hovergraphic4:hover > .tableoverlay4 .td4text p {
  opacity: 1;
}

.hovergraphic4:hover > .tableoverlay4 .tablespacer4 {
  opacity: 1;
}

/* If the screen size is 601px or less*/

@media only screen and (max-width: 600px) {
    .hovergraphic4::before {
	display: none;
    }
}

@media only screen and (max-width: 600px) {
    .td4text {
	height: 31.23vw;
	width: 46.23vw;
    }
}

@media only screen and (max-width: 600px) {
	.td4text h3 {
	font-size: 6vw;
    }
}

@media only screen and (max-width: 600px) {
    .td4text p {
	font-size: 2vw;
	margin-right: 4vw;
    }
}

@media only screen and (max-width: 600px) {
    .tableoverlay4 {
	margin-top: 3.4vw;
	margin-left: -3.4vw;
	height: 31.23vw;
	width: 46.23vw;
    }
}

@media only screen and (max-width: 600px) {
    .tablespacer4 {
	height: 10.7vw;
    }
}

/*--------------------TABLE CELL 5 START--------------------*/
.hovergraphic5 {
	margin-top: -10%;
	background-color: rgba(255, 255, 255, 0.0);
	position: relative;
	overflow: visible;
	height: 100%;
	width: 100%;
	transform: rotateZ(-45deg);
	cursor: pointer;
}

.hovergraphic5::before {
	position: absolute;
	content: '';
	top: -10vw;
	left: 35vw;
	transform: rotateZ(-45deg) translate(0vw, 0 vw);
	width: 100%;
	height: 50vw;
	background: rgba(255,255,255,0.5);
}

.hovergraphic5:hover::before {
	animation: hoverGraphic 0.7s forwards, hoverGraphicScale 0.3s forwards;
	pointer-events: none;
}

@keyframes hoverGraphic {
	100%{
		transform: translate(-75vw, 0vw);
	}
}

.tr3 td:nth-child(1) {
	background-image: url('ss.png');
	background-color: rgba(255, 255, 255, 0.3);
	z-index: 1;
	vertical-align: top;
	overflow: hidden;
	position: relative;
	background-size: 100% 100%;
	background-position: center;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	
}

.tr3 td:nth-child(1):hover {
	color: white;
	background-size: 110% 110%;
	background-position: center;
	z-index: 1;
}

/*TEXT TABLE CELL 5 START*/

.td5text {
	height: 20.82vw;
	width: 30.82vw;
}

.td5text h3 {
	font-family: Bebas;
	font-size: 2vw;
	color: #ffdd44;
	float: left;
	position: relative;
	margin-top: 1vw;
	margin-left: 2vw;
}

.td5text p {
	margin-top: 17.25vw;
	margin-left: 6vw;
	margin-right: 0vw;
	text-align: right;
	float: right;
	position: absolute;
	font-family: Lato;
	font-size: 0.8vw;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
}

.tablespacer5 {
	width: 3px;
	background-color: white;
	height: 2.6vw;
	float: right;
	position: relative;
	z-index: 10;
	margin: 17.2vw 2.5vw 0vw 0vw;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
}

/*GREEN OVERLAY*/

.tableoverlay5 {
	height: 20.82vw;
	width: 30.82vw;
	margin-top: 2.2vw;
	margin-left: -2.2vw;
	background-color: rgba(255, 221, 68, 0.0);
	position: absolute;
	z-index: 20;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transform: rotateZ(45deg);
}

.hovergraphic5:hover > .tableoverlay5 {
	background-color: rgba(255, 221, 68, 0.3);
}

.hovergraphic5:hover > .tableoverlay5 .td5text p {
  opacity: 1;
}

.hovergraphic5:hover > .tableoverlay5 .tablespacer5 {
  opacity: 1;
}

/* If the screen size is 601px or less*/

@media only screen and (max-width: 600px) {
    .hovergraphic5::before {
	display: none;
    }
}

@media only screen and (max-width: 600px) {
    .td5text {
	height: 31.23vw;
	width: 46.23vw;
    }
}

@media only screen and (max-width: 600px) {
	.td5text h3 {
	font-size: 6vw;
    }
}

@media only screen and (max-width: 600px) {
    .td5text p {
	font-size: 2vw;
	margin-right: 4vw;
    }
}

@media only screen and (max-width: 600px) {
    .tableoverlay5 {
	margin-top: 3.4vw;
	margin-left: -3.4vw;
	height: 31.23vw;
	width: 46.23vw;
    }
}

@media only screen and (max-width: 600px) {
    .tablespacer5 {
	height: 10.7vw;
    }
}

/*--------------------TABLE CELL 6 START--------------------*/
.hovergraphic6 {
	margin-top: -10%;
	background-color: rgba(255, 255, 255, 0.0);
	position: relative;
	overflow: visible;
	height: 100%;
	width: 100%;
	transform: rotateZ(-45deg);
	cursor: pointer;
}

.hovergraphic6::before {
	position: absolute;
	content: '';
	top: -10vw;
	left: 35vw;
	transform: rotateZ(-45deg) translate(0vw, 0 vw);
	width: 100%;
	height: 50vw;
	background: rgba(255,255,255,0.5);
}

.hovergraphic6:hover::before {
	animation: hoverGraphic 0.7s forwards, hoverGraphicScale 0.3s forwards;
	pointer-events: none;
}

@keyframes hoverGraphic {
	100%{
		transform: translate(-75vw, 0vw);
	}
}

.tr3 td:nth-child(2) {
	background-image: url('1.jpg');
	background-color: rgba(255, 255, 255, 0.3);
	z-index: 1;
	vertical-align: top;
	overflow: hidden;
	position: relative;
	background-size: 100% 100%;
	background-position: center;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	
}

.tr3 td:nth-child(2):hover {
	color: white;
	background-size: 110% 110%;
	background-position: center;
	z-index: 1;
}

/*TEXT TABLE CELL 6 START*/

.td6text {
	height: 20.82vw;
	width: 30.82vw;
}

.td6text h3 {
	font-family: Bebas;
	font-size: 2vw;
	color: #ffdd44;
	float: left;
	position: relative;
	margin-top: 1vw;
	margin-left: 2vw;
}

.td6text p {
	margin-top: 17.8vw;
	margin-left: 17.5vw;
	margin-right: 0vw;
	text-align: right;
	float: right;
	position: absolute;
	font-family: Lato;
	font-size: 0.8vw;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
}

.tablespacer6 {
	width: 3px;
	background-color: white;
	height: 2.6vw;
	float: right;
	position: relative;
	z-index: 10;
	margin: 17.2vw 2.5vw 0vw 0vw;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
}

/*GREEN OVERLAY*/

.tableoverlay6 {
	height: 20.82vw;
	width: 30.82vw;
	margin-top: 2.2vw;
	margin-left: -2.2vw;
	background-color: rgba(255, 221, 68, 0.0);
	position: absolute;
	z-index: 20;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transform: rotateZ(45deg);
}

.hovergraphic6:hover > .tableoverlay6 {
	background-color: rgba(255, 221, 68, 0.3);
}

.hovergraphic6:hover > .tableoverlay6 .td6text p {
  opacity: 1;
}

.hovergraphic6:hover > .tableoverlay6 .tablespacer6 {
  opacity: 1;
}

/* If the screen size is 601px or less*/

@media only screen and (max-width: 600px) {
    .hovergraphic6::before {
	display: none;
    }
}

@media only screen and (max-width: 600px) {
    .td6text {
	height: 31.23vw;
	width: 46.23vw;
    }
}

@media only screen and (max-width: 600px) {
	.td6text h3 {
	font-size: 6vw;
    }
}

@media only screen and (max-width: 600px) {
    .td6text p {
	font-size: 2vw;
	margin-left: 20vw;
	margin-top: 25vw;
    }
}

@media only screen and (max-width: 600px) {
    .tableoverlay6 {
	margin-top: 3.4vw;
	margin-left: -3.4vw;
	height: 31.23vw;
	width: 46.23vw;
    }
}

@media only screen and (max-width: 600px) {
    .tablespacer6 {
	height: 2.5vw;
	margin-top: 25vw;
    }
}

/*===================================================================================*/
/*                             SECTION 3 START                                       */
/*===================================================================================*/

.section3 {
	padding-top: 56.25%;
	width: 100% !important;
	overflow-x: hidden;
	background-color: #eeeeff;
	border-top: 2px solid #cccccc;
	position: relative;
	z-index: 30;
	visibility: visible;
	opacity: 1;
}

.sitemapWrapper {
	width: 100%;
	height: 100%;
	top: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: #dddddd;
	position: absolute;
	filter: blur(5px);
	z-index: 50;
	background-size: 100%;
	background-image: url("Sitemap.png");
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: scroll;
 	transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-ms-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	-webkit-transition: all 2s ease-in-out;
}

.sitemapRotateScreen {
	pointer-events: none;
	height: 40vw;
	width: 40vw;
	position: absolute;
	z-index: 80;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
	background-size: 100%;
	background-image: url("rotate.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
 	transition: opacity 2s ease-in-out;
	-moz-transition: opacity 2s ease-in-out;
	-ms-transition: opacity 2s ease-in-out;
	-o-transition: opacity 2s ease-in-out;
	-webkit-transition: opacity 2s ease-in-out;
}

/*Remove Rotate.png when device is in landscape mode, also remove blur*/
@media only screen and (orientation: landscape) {
    .sitemapRotateScreen {
        opacity: 0;
    }
}

/*Remove Rotate.png when device is in landscape mode, also remove blur*/
@media only screen and (orientation: landscape) {
    .sitemapWrapper {
		filter: blur(0px);
    }
}

@media only screen and (max-width: 400px) {
    .sitemapWrapper div {
		visibility: hidden;
    }
}


/*Duplicate from here*/

/*===============DIV CSS WRAP FOR ALL POINTS OF INTEREST===============*/
.sitemapWrapper div {
	height: 4vw;
	width: 4vw;
	z-index: 60;
	position: absolute;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	border: 1px solid white;
}

.sitemapWrapper p {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
/*===========================DIV CSS WRAP END===========================*/

.entranceDiv {
	top: 62.5%;
	left: 10%;
}

.entranceDiv:hover > .entranceText {
	opacity: 100;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.entranceDiv:hover > .entranceDesc {
	opacity: 100;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.entranceText {
	font-family: Lato;
	font-size: 2vw;
	top: -110%;
	left: -50%;
	color: white;
	position: absolute;
	z-index: 50;
	padding: 0;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.entranceDesc {
	pointer-events: none;
	font-family: Lato;
	font-size: 2vw;
	top: 230%;
	left: 26vw;
	text-align: right;
	width: 60vw;
	height: 6vw;
	color: white;
	position: absolute;
	z-index: 50;
	padding-right: 5vw;
	padding-top: 1vw;
	padding-bottom: 0;
	margin: 0;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.3);
	border-bottom: solid 2px #aaaaaa;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

/*Stop duplication here*/

/*Duplicate from here*/

.barDiv {
	top: 28.5%;
	left: 37.8%;
}

.barDiv:hover > .barText {
	opacity: 100;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.barDiv:hover > .barDesc {
	opacity: 100;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.barText {
	font-family: Lato;
	font-size: 2vw;
	top: -110%;
	left: 0%;
	color: white;
	position: absolute;
	z-index: 50;
	padding: 0;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.barDesc {
	pointer-events: none;
	font-family: Lato;
	font-size: 2vw;
	top: 700%;
	left: 13.3vw;
	text-align: right;
	width: 45vw;
	height: 6vw;
	color: white;
	position: absolute;
	z-index: 50;
	padding-left: -10vw;
	padding-right: 5vw;
	padding-top: 1vw;
	padding-bottom: 0;
	margin: 0;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.3);
	border-bottom: solid 2px #aaaaaa;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

/*Stop duplication here*/

/*Duplicate from here*/

.toiletDiv {
	top: 39.3%;
	left: 64.5%;
}

.toiletDiv:hover > .toiletText {
	opacity: 100;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.toiletDiv:hover > .toiletDesc {
	opacity: 100;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.toiletText {
	font-family: Lato;
	font-size: 2vw;
	top: -110%;
	left: 5%;
	color: white;
	position: absolute;
	z-index: 50;
	padding: 0;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.toiletDesc {
	pointer-events: none;
	font-family: Lato;
	font-size: 2vw;
	top: 550%;
	left: -14.9vw;
	text-align: right;
	width: 47vw;
	height: 6vw;
	color: white;
	position: absolute;
	z-index: 50;
	padding-left: 0;
	padding-right: 5vw;
	padding-top: 1vw;
	padding-bottom: 0;
	margin: 0;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.3);
	border-bottom: solid 2px #aaaaaa;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

/*Stop duplication here*/

/*Add the :active attribute on mobile devices*/
@media only screen and (max-width: 400px) {
	.barDiv:hover, .barDiv:active > .barText {
		opacity: 100;
		transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
	}
		.barDiv:hover, .barDiv:active > .barDesc {
		opacity: 100;
		transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
	}
	.toiletDiv:hover, .toiletDiv:active > .toiletText {
		opacity: 100;
		transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
	}
	.toiletDiv:hover, .toiletDiv:active > .toiletDesc {
		opacity: 100;
		transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
	}
	.entranceDiv:hover, .entranceDiv:active > .entranceText {
		opacity: 100;
		transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
	}
	.entranceDiv:hover, .entranceDiv:active > .entranceText {
		opacity: 100;
		transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
	}
}

/*===================================================================================*/
/*                             SECTION 4 START                                       */
/*===================================================================================*/

.section4 {
	height: 100%;
	width: 100%;
	background-color: #333333;
	border-top: 2px solid #555555;
	position: relative;
	z-index: 50;
	overflow-x: hidden;
	overflow-y: auto;
}

.currenteventbanner2 {
	width: 100%;
	height: 10vw;
	background-color: #333333;
	padding: 0;
	margin: 0;
	line-height: 10vw;
	border-bottom: 2px solid #555555;
	position: relative;
}

.currenteventbanner2 p {
	font-family: Bebas;
	color: white;
	padding: 0;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	font-size: 8vw;
	font-style: italic;
}

/* Slideshow container */
.slideshowWrapper {
	top: 0;
	max-width: 1920px;
	position: relative;
	margin: 0;
	overflow: hidden;
}

/* Hide the images by default */
.Slides {
    display: none;
}

.Slides img {
	filter: blur(5px);
	margin: -5px -10px -10px -5px;
	transition: 0.6s ease-in-out;
	position: relative;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
	color: white;
	background-color: rgba(255, 255, 255, 0.1);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease-in-out;
	border-radius: 0 3px 3px 0;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

/* Caption text */
.slideText {
	color: rgba(255, 221, 68, 1);
	font-size: 8vw;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
	font-family: Lato;
	cursor: pointer;
	-webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

.clickMeSlide {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: Lato;
	font-size: 1vw;
	opacity: 0;
	transition: opacity 0.6s ease-in-out;
}

.slideText:hover ~ .clickMeSlide {
	opacity: 1;
	transition: opacity 0.6s ease-in-out;
}

.dotWrapper {
	height: 0;
	position: relative;
	top: -10vw;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 0.75vw;
	width: 0.75vw;
	margin: 0 2px;
	background-color: #777777;
	border-radius: 50%;
	display: inline-block;
	top: 20px;
	position: relative;
	transition: background-color 0.6s ease-in-out;
}

.active2, .dot:hover {
	background-color: rgba(255, 221, 68, 1);
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
	.prev, .next,.text {font-size: 11px}
}

/* On smaller screens, decrease top value .dot */
@media only screen and (max-width: 600px) {
	.dot {top: 0px}
}

/* On smaller screens, make .clickMeSlide larger */
@media only screen and (max-width: 600px) {
	.clickMeSlide {
		font-size: 2vw;
		opacity: 1;
	}
}

/*===========================================================*/
/*===================MODAL GENERAL START=====================*/
/*===========================================================*/

/* The Close Button */
.close {
	color: white;
	position: fixed;
	top: 4vw;
	right: 3%;
	font-size: 4vw;
	font-weight: bold;
	z-index: 100;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.close:hover, .close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 600px) {
	.close {
		font-size: 8vw;
		right: 7%;
		top: 8vw;
	}
}

/*=====================================================*/
/*===================MODAL 1 START=====================*/
/*=====================================================*/

/*Please note that Modal 1 corresponds to EF4.0*/

.modal1Row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
	overflow-y: visible;
	justify-content: center;
}

.modal1Row img {
	border: 2px solid #777777;
	max-width: calc(25% - 4px);
	height: 16vw;
	display: block;
	background: #ccc;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.modal1Row:after {
	content: "";
	display: table;
	clear: both;
}

/* The Modal wrapper */
.modal1 {
	display: none;
	position: fixed;
	left: 0;
	top: 5vw;
	padding-top: 1vw;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.9);
	transition: display 0.6s ease-in-out;
	z-index: 100;
}

/* Modal Content */
.modal1-content {
	position: relative;
	background-color: #777777;
	margin: auto;
	padding: 0;
	width: 90%;
	overflow-y: visible;
	z-index: 80;
}

/*===========MODAL 1 FOR MOBILE DEVICES=============*/

@media only screen and (max-width: 600px) {
	.modal1Row img {
		max-width: calc(100% - 4px);
		height: 27vw;
	}
}

@media only screen and (max-width: 600px) {
	.modal1Row {padding: 0 1px;}
}

/*=====================================================*/
/*===================MODAL 2 START=====================*/
/*=====================================================*/

/*Please note that Modal 2 corresponds to EF3.0*/

.modal2Row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
	overflow-y: visible;
	justify-content: center;
}

.modal2Row img {
	border: 2px solid #777777;
	max-width: calc(25% - 4px);
	height: 16vw;
	display: block;
	background: #ccc;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.modal2Row:after {
	content: "";
	display: table;
	clear: both;
}

/* The Modal wrapper */
.modal2 {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	padding-top: 1vw;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.9);
	transition: display 0.6s ease-in-out;
	z-index: 100;
}

/* Modal Content */
.modal2-content {
	position: relative;
	background-color: #777777;
	margin: auto;
	padding: 0;
	width: 90%;
	overflow-y: visible;
	z-index: 80;
}

/*===========MODAL 2 FOR MOBILE DEVICES=============*/

@media only screen and (max-width: 600px) {
	.modal2Row img {
		max-width: calc(100% - 4px);
		height: 27vw;
	}
}

@media only screen and (max-width: 600px) {
	.modal2Row {padding: 0 1px;}
}

/*=====================================================*/
/*===================MODAL 3 START=====================*/
/*=====================================================*/

/*Please note that Modal 3 corresponds to EF2.0*/

.modal3Row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
	overflow-y: visible;
	justify-content: center;
}

.modal3Row img {
	border: 2px solid #777777;
	max-width: calc(25% - 4px);
	height: 16vw;
	display: block;
	background: #ccc;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.modal3Row:after {
	content: "";
	display: table;
	clear: both;
}

/* The Modal wrapper */
.modal3 {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	padding-top: 1vw;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.9);
	transition: display 0.6s ease-in-out;
	z-index: 100;
}

/* Modal Content */
.modal3-content {
	position: relative;
	background-color: #777777;
	margin: auto;
	padding: 0;
	width: 90%;
	overflow-y: visible;
	z-index: 80;
}

/*===========MODAL 3 FOR MOBILE DEVICES=============*/

@media only screen and (max-width: 600px) {
	.modal3Row img {
		max-width: calc(100% - 4px);
		height: 27vw;
	}
}

@media only screen and (max-width: 600px) {
	.modal3Row {padding: 0 1px;}
}

/*=====================================================*/
/*===================MODAL 4 START=====================*/
/*=====================================================*/

/*Please note that Modal 4 corresponds to EF1.0*/

.modal4Row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
	overflow-y: visible;
	justify-content: center;
}

.modal4Row img {
	border: 2px solid #777777;
	max-width: calc(25% - 4px);
	height: 16vw;
	display: block;
	background: #ccc;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.modal4Row:after {
	content: "";
	display: table;
	clear: both;
}

/* The Modal wrapper */
.modal4 {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	padding-top: 1vw;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.9);
	transition: display 0.6s ease-in-out;
	z-index: 100;
}

/* Modal Content */
.modal4-content {
	position: relative;
	background-color: #777777;
	margin: auto;
	padding: 0;
	width: 90%;
	overflow-y: visible;
	z-index: 80;
}

/*===========MODAL 4 FOR MOBILE DEVICES=============*/

@media only screen and (max-width: 600px) {
	.modal4Row img {
		max-width: calc(100% - 4px);
		height: 27vw;
	}
}

@media only screen and (max-width: 600px) {
	.modal4Row {padding: 0 1px;}
}

/*===================================================================================*/
/*                             SECTION 5 START                                       */
/*===================================================================================*/

.section5 {
	top: 0;
	height: 100%;
	width: 100% !important;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: #ffffff;
	border-top: 2px solid #555555;
	position: relative;
	z-index: 10;
}

.currenteventbanner {
	width: 100%;
	height: 10vw;
	background-color: #333333;
	padding: 0;
	margin: 0;
	line-height: 10vw;
	border-bottom: 2px solid #555555;
	position: absolute;
}

.googleMapWrapper {
	width: 50%;
	height: 15vw;
	position: relative;
	margin-top: 10vw;
	z-index: 30;
	padding: 10px;
	float: left;
	filter: grayscale(100%);
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.googleMapWrapper:hover {
	filter: grayscale(0%);
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

#googleMap {
	border-bottom: 3px solid rgba(255, 221, 68, 1);
}

.socialWrapper {
	height: 100%;
	width: 20%;
	left: 15%;
	float: left;
	position: relative;
	z-index: 50;
	margin-top: 13.5vw;
}

.socialWrapper h3 {
	font-size: 2vw;
	font-family: Lato;
	color: black;
	vertical-align: middle;
	text-align: center;
	margin: 0;
}

.socialLogoWrapper {
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-around;
}

.socialLogoWrapper a {
	height: 100%;
	width: 100%;
	padding: 0;
	left: 20px;
	display: block;
	color: black;
	font-family: Lato;
	text-decoration: none;
	padding-left: 2%;
}

.socialLogoWrapper img {
	height: 100%;
	width: 100%;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.socialLogoWrapper img:hover {
    border-radius: 50%;
	background-color: #ffdd44;
	mix-blend-mode: multiply;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;	
}

.disclaimer {
	height: 100%;
	width: 100%;
	float: left;
	position: relative;
	z-index: 50;
	background-color: #333333;
	border-top: 2px solid #555555;
	text-align: center;
}

.disclaimer p {
	font-size: 0.5vw;
	font-family: Lato;
	color: white;
	vertical-align: middle;
	text-align: center;
}

@media only screen and (max-width: 600px) {
	.socialWrapper {
		width: 30%;
		left: 10%;
	}
	.socialWrapper h3 {
		font-size: 3vw;
	}
	.disclaimer p {
		font-size: 2vw;
	}
	.socialLogoWrapper img {
		width: 100%;
		height: 100%;
	}
	.socialLogoWrapper a {
		width: 20%;
		height: 20%;
		font-size: 0.8vw;
	}
}