@font-face{
    font-family: "ExistenceLight";
    src: url('ExistenceLightTTF.ttf');
	src: url('ExistenceLightOTF.otf');
}	

@font-face{
	font-family: "EternalCall";
	src: url('EternalCall.ttf');
}


body{
	margin: 0px;
	overflow: auto;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loaderlogo {
	position: fixed;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) scale(0.2);
	z-index: 1003;
        -webkit-transition: opacity(1);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transition: opacity(1);  /* IE 9 */
        transition: opacity(1);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loaderlogo {
	opacity: 0;
    -webkit-transition: all 0.5s ease-out;  
            transition: all 0.5s ease-out;
}

/*.loadertitle {
	position: relative;
	z-index: 1003;
	color: white;
	font-size: 200px;
	font-family: "EternalCall";
	margin-top: 0;
	text-align: center;
}*/

.loadersplash {
	margin-top: 35%;
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 1003;
	color: white;
	font-family: "ExistenceLight";
	font-size: 26px;
}

#loadertext {
		position: relative;
		z-index: 1002;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loadertext {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);

}

#loader {
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 250px;
    height: 250px;
    margin: -125px 0 0 -125px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #006EFF;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border-radius: 50%;
        border: 3px dashed transparent;
        border-top-color: #00DDFF;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        border-radius: 50%;
        border: 7px solid transparent;
        border-top-color: #FFFFFF;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

		-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
	
.section1 {
	margin: 0;
	width: 100%;
	height: auto;
    z-index: 10;
	background-color: #ffffff;
	position: static;
	top: 0;
}

.active {
	border-bottom: solid 2px #ffdd44;
}

.menudiv {
	top: 0%;
	margin: 0;
	padding: 0;
	height: 2vw;
	width: 100% !important;
	position: fixed;
	z-index: 100;
}

.menu {
	margin: 0;
	position: absolute;
	top: 0;
	display: flex;
	width: 100%;
	height: 4vw;
	line-height: 4vw;
	padding: 0;
	transition: all 0.4s ease-in-out;
}

.menu li {
	margin-top: 0;
	padding: 0;
	width: 8%;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
	display: block;
	transition: all 0.5s ease-in-out;
}

.menu li a:hover {
	border-bottom: 2px solid white;
	transition: all 0.4s ease-in-out;
}

.menu li a {
	text-decoration: none;
	color: white;
	font-family: Lato;
	font-size: 1vw;
	padding: 0;
	transition: all 0.4s ease-in-out;
}

.past-main {
	background-color: black;
	transition: all 0.4s ease-in-out;
}

/* If the screen size is 601px or less*/
@media only screen and (max-width: 600px) {
    .menu li a {
		font-size: 2vw;
    }
	.menu li {
		width: 20%;
	}
	.menu {
		height: 8vw;
		line-height: 8vw;
	}
	.menudiv {
		height: 4vw;
	}
}

.backgroundvideo {
  width: 100%    !important;
  height: auto;
  z-index: 3;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out; 
}

video {
  width: 100%    !important;
  height: auto;
  margin: 0;
  z-index: 0;
  overflow: hidden;
  border-bottom: 2px solid #dddddd;
}

.rollogo { 
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display:block;
  line-height: 0;
}

.rollogo img{
  transition: all .2s ease-in;
  transition: all .2s ease-out;
}

.rollogo img:hover {
    transform: scale(1.1);
}

.rollogo:hover ~ .backgroundvideo {
    filter: grayscale(0%);
}

.roltextappear {
	display: flex;
	font-family: EternalCall, sans-serif;
	font-size: 150px;
	text-align: center;
	color: white;
	margin-top: 35%;
	margin-left: 37%;
	opacity: 0;
	-webkit-transition: opacity 1.5s ease-in-out;
	transition: opacity 1.5s ease-in-out;
	z-index: 5;
	position: absolute;
}

.rollogo:hover ~ .roltextappear {
	opacity: 1;
}

/*===================================================================================*/
/*                             SECTION 2 START                                       */
/*===================================================================================*/

.section2 {
	margin: 0;
	width: 100%;
	height: auto;
    z-index: 10;
	background-color: #ffffff;
	position: relative;
	border-bottom: 2px solid #dddddd;
	top: 0;
}

.section2 h3 {
	padding: 0;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	margin: 0;
}

.minigames {
	display: flex;
	justify-content: space-around;
}

.kitpvp, .skyblock, .spleef {
    width: 100%;
    height: 100%;
    display: inline-block;
	font-family: 'Lato', sans-serif;
	text-align: center;
	color: #222222;
	font-size: 3vw;
	margin: 0px;
}

.swords, .block, .shovel {
	display: inline-block;
	height: 10vw;
	vertical-align: middle;
}

.kitpvptext, .skyblocktext, .spleeftext {
	vertical-align: middle;
	width: 70%;
	font-size: 1.3vw;
	font-family: 'Lato', sans-serif;
	font-weight: 350;
	text-align: center;
	display: inline-block;
	position: relative;
	z-index: 20;
}

/*===================================================================================*/
/*                             SECTION 3 START                                       */
/*===================================================================================*/

.section3 {
	margin: 0;
	width: 100%	!important; 
	height: auto;
    z-index: 5;
	background-color: #ffffff;
	position: relative;
	top: 0;
	border-bottom: 2px solid #dddddd;
	background-size: cover;
	background-image: url("aboutbanner.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

.abouttext {
	position: absolute;
	font-size: 1.3vw;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: left;
	z-index: 6;
	margin: 0% 10% 0% 30%;
	color: white;
	display: inline-block;
	position: absolute;
}

.rollogoabout {
	margin-left: 5%;
	height: 15vw;
	padding-top: 1%;
	padding-bottom: 1%;
	vertical-align: middle;
	position: relative;
	z-index: 10;
	top: 0;
}

.button {
	position: absolute;
	width: 10%;
	height: 15%;
	top: 80%;
	left: 50%;
	display: inline-block;
	border-radius: 3px;
	border: solid white 2px;
	font-size: 1vw;
	font-family: ExistenceLight, sans-serif;
	text-align: left;
	z-index: 1;
	color: white;
	background-color: rgba(0,0,0,0);
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.button:hover {
	background-color: #466EB2;
	border: solid #466EB2 3px;
}

.button a{
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}

.button p{
	margin: 0px;
	padding: 7.1%;
}

/*===================================================================================*/
/*                             SECTION 3 START                                       */
/*===================================================================================*/

.section4 {
	margin: 0px;
	width: 100%;
	height: 300px;
    z-index: 1;
	background-color: #ffffff;
	position: relative;
}

.copyright {
	height: 300px;
	line-height: 300px;
	vertical-align: middle;
	padding-left: 5%;
	margin: 0px;
	display: inline-block;
	float: left;
}

.copyrightheader {
	margin: 0px;
	width: auto;
	display: inline-block;
	font-size: 60px;
	font-family: ExistenceLight, sans-serif;
	text-align: left;
	z-index: 1;
	color: black;
}

.container {
	position: relative;
}

.links {
	width: 1000px;
	position: absolute;
	z-index: 10;
	display: inline-block;
	margin-left: 5%;
	overflow: hidden;
}

.ul h4{
	width: auto;
	position: absolute;
	font-size: 24px;
	font-family: ExistenceLight, sans-serif;
	text-align: left;
	z-index: 1;
	color: black;
}

.social{
	display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
	padding: 0px 0px 0px 0px;
	margin: 0px;
	list-style-type: none;
	width: 200px;
	position: static;
	font-size: 24px;
	font-family: ExistenceLight, sans-serif;
	text-align: left;
	color: black;
	z-index: 2;
	float: left;
}

.connect {
	position: relative;
	display: flex;
    justify-content: center;
    flex-direction: column;
	height: 300px;
	line-height: 20px;
	vertical-align: middle;
	margin: 0px 0px 0px 0px;
	float: right;
	width: auto;
	font-size: 35px;
	font-family: ExistenceLight, sans-serif;
	text-align: center;
	z-index: 1;
	color: black;
	font-weight: 900;
}

.connect h3:hover {
	color: #00ddff;
}

.links a:link {
	color: #000099;
	text-decoration: none;
	cursor; auto;
}

.links a:visited {
	color: #00dd99;
}

.links a:link:active, a:visited:active {
	color: #00aa99
}

.links a:hover {
	color: #009999;
}

.vote{
	display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
	margin: 0px;
	list-style-type: none;
	width: 300px;
	position: relative;
	font-size: 24px;
	font-family: ExistenceLight, sans-serif;
	text-align: left;
	color: black;
	z-index: 2;
	float: left;
}