@font-face{
    font-family: "ExistenceLight";
    src: url('ExistenceLightTTF.ttf');
	src: url('ExistenceLightOTF.otf');
}	

@font-face{
	font-family: "EternalCall";
	src: url('EternalCall.ttf');
}


body{
	margin: 0;
	overflow: auto;
	height: 100%;
}

@media only screen and (max-width: 600px) {
	body {
		-webkit-user-select: none; /* Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */
	}
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  background: #5CCDE8; /* WebKit/Blink Browsers */
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

/*#loaderlogo {
	position: fixed;
	top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) scale(0.5);
	z-index: 1003;
    -webkit-transition: opacity(1);  /* Chrome, Opera 15+, Safari 3.1+
    -ms-transition: opacity(1);  /* IE 9 
    transition: opacity(1);  /* Firefox 16+, IE 10+, Opera
}*/

/*.loaded #loaderlogo {
	opacity: 0;
    -webkit-transition: all 0.5s ease-out;  
    transition: all 0.5s ease-out;
}*/

/*.loadertitle {
	position: relative;
	z-index: 1003;
	color: white;
	font-size: 200px;
	font-family: "EternalCall";
	margin-top: 0;
	text-align: center;
}*/

.loadersplash {
	margin-top: 31%;
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 1003;
	color: white;
	font-family: 'Lato';
	font-size: 26px;
}

#loadertext {
		position: relative;
		z-index: 1002;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loadertext {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);

}

.loaded .boxes-wrapper {
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;  
			transition: all 0.3s ease-out;

}

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
	}

	.boxes-wrapper {
		width: auto;
		height: auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		z-index: 1500;
	}
	
    .boxes {
		--size: 32px;
		--duration: 800ms;
		height: calc(var(--size) * 2);
		width: calc(var(--size) * 3);
		position: relative;
		transform-style: preserve-3d;
		transform-origin: 50% 50%;
		margin-top: calc(var(--size) * 1.5 * -1);
		transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
	  }
	  .boxes .box {
		width: var(--size);
		height: var(--size);
		top: 0;
		left: 0;
		position: absolute;
		transform-style: preserve-3d;
	  }
	  .boxes .box:nth-child(1) {
		transform: translate(100%, 0);
		animation: box1 var(--duration) linear infinite;
	  }
	  .boxes .box:nth-child(2) {
		transform: translate(0, 100%);
		animation: box2 var(--duration) linear infinite;
	  }
	  .boxes .box:nth-child(3) {
		transform: translate(100%, 100%);
		animation: box3 var(--duration) linear infinite;
	  }
	  .boxes .box:nth-child(4) {
		transform: translate(200%, 0);
		animation: box4 var(--duration) linear infinite;
	  }
	  .boxes .box > div {
		--background: #449b2e;
		--top: auto;
		--right: auto;
		--bottom: auto;
		--left: auto;
		--translateZ: calc(var(--size) / 2);
		--rotateY: 0deg;
		--rotateX: 0deg;
		position: absolute;
		width: 100%;
		height: 100%;
		background: var(--background);
		top: var(--top);
		right: var(--right);
		bottom: var(--bottom);
		left: var(--left);
		transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
	  }
	  .boxes .box > div:nth-child(1) {
		--top: 0;
		--left: 0;
	  }
	  .boxes .box > div:nth-child(2) {
		--background: #685234;
		--right: 0;
		--rotateY: 90deg;
	  }
	  .boxes .box > div:nth-child(3) {
		--background: #382e20;
		--rotateX: -90deg;
	  }
	  .boxes .box > div:nth-child(4) {
		--background: #000;
		--top: 0;
		--left: 0;
		--translateZ: calc(var(--size) * 3 * -1);
	  }
	  
	  @keyframes box1 {
		0%, 50% {
		  transform: translate(100%, 0);
		}
		100% {
		  transform: translate(200%, 0);
		}
	  }
	  @keyframes box2 {
		0% {
		  transform: translate(0, 100%);
		}
		50% {
		  transform: translate(0, 0);
		}
		100% {
		  transform: translate(100%, 0);
		}
	  }
	  @keyframes box3 {
		0%, 50% {
		  transform: translate(100%, 100%);
		}
		100% {
		  transform: translate(0, 100%);
		}
	  }
	  @keyframes box4 {
		0% {
		  transform: translate(200%, 0);
		}
		50% {
		  transform: translate(200%, 100%);
		}
		100% {
		  transform: translate(100%, 100%);
		}
	  }

@keyframes box1 {
    0%,
    50% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(200%, 0);
    }
}

@keyframes box2 {
    0%{
        transform: translate(0, 100%);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}

@keyframes box3 {
    0%,
    50% {
        transform: translate(100%, 100%);
    }
    100% {
        transform: translate(0, 100%);
    }
}

@keyframes box4 {
    0%{
        transform: translate(200%, 0);
    }
    50% {
        transform: translate(200%, 100%);
    }
    100% {
        transform: translate(100%, 100%);
    }
}

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

		-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
	
.section1 {
	margin: 0;
	width: 100%;
	height: auto;
    z-index: 20;
	background-color: #ffffff;
	position: relative;
	top: 0;
}

.active {
	border-bottom: solid 2px #4286f4;
}

.menudiv {
	top: 0%;
	margin: 0;
	padding: 0;
	height: 2vw;
	width: 100% !important;
	position: fixed;
	z-index: 100;
}

.menu {
	margin: 0;
	position: absolute;
	top: 0;
	display: flex;
	width: 100%;
	height: 4vw;
	line-height: 4vw;
	padding: 0;
	transition: all 0.4s ease-in-out;
}

.menu li {
	margin-top: 0;
	padding: 0;
	width: 8%;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
	display: block;
	transition: all 0.5s ease-in-out;
}

.menu li a:hover {
	border-bottom: 2px solid white;
	transition: all 0.4s ease-in-out;
}

.menu li a {
	text-decoration: none;
	color: white;
	font-family: Lato;
	font-size: 1vw;
	padding: 0;
	transition: all 0.4s ease-in-out;
	z-index: 200;
}

.past-main {
	background-color: black;
	transition: all 0.4s ease-in-out;
}

/* If the screen size is 601px or less*/
@media only screen and (max-width: 600px) {
    .menu li a {
		font-size: 2vw;
    }
	.menu li {
		width: 20%;
	}
	.menu {
		height: 8vw;
		line-height: 8vw;
	}
	.menudiv {
		height: 4vw;
	}
}

.backgroundvideo-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-bottom: 2px solid #dddddd;
}

.backgroundvideo {
    width: 100%    !important;
    height: auto;
    z-index: 40;
    position: relative;
    top: 0%;
    -webkit-filter: grayscale(100%) blur(5px);
    -moz-filter: grayscale(100%) blur(5px);
    -o-filter: grayscale(100%) blur(5px);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
	overflow: hidden;
	transform: scale(1.05);
}

video {
    width: 100%    !important;
    height: auto;
    margin: 0;
    z-index: 30;
    border-bottom: 2px solid #dddddd;
}

.videocontent {
	z-index: 50;
    margin: 0% 10% 0% 10%;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.videocontent img { 
    z-index: 70;
    position: relative;
	margin: 0;
	height: 100%;
	width: 100%;
	transition: all .2s ease-in-out;
}

.rollogopng:hover {
    cursor: pointer;
}

.roltextappear {
	display: flex;
	font-family: Lato, sans-serif;
	font-size: 4vw;
	text-align: center;
	color: white;
	top: 80%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	-webkit-transition: opacity 1.5s ease-in-out;
	transition: opacity 1.5s ease-in-out;
	z-index: 70;
	position: absolute;
}

.rollogo:hover ~ .roltextappear {
	opacity: 1;
}

/*===================================================================================*/
/*                             SECTION 2 START                                       */
/*===================================================================================*/

.section2 {
	margin: 0;
	width: 100%;
	height: auto;
    z-index: 20;
	background-color: #ffffff;
	border-bottom: 2px solid #dddddd;
	position: static;
	top: 0;
}

.section2 h3 {
	padding: 0;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	margin: 0;
}

.minigames {
	display: flex;
	justify-content: space-around;
}

.kitpvp, .skyblock, .spleef {
    width: 100%;
    height: 100%;
    display: inline-block;
	font-family: 'Lato', sans-serif;
	text-align: center;
	color: #222222;
	font-size: 3vw;
	margin: 0px;
	position: relative;
	z-index: 10;
}

.swords, .block, .shovel {
	display: inline-block;
	height: 10vw;
	vertical-align: middle;
}

.kitpvptext, .skyblocktext, .spleeftext {
	vertical-align: middle;
	width: 70%;
	font-size: 1.3vw;
	font-family: 'Lato', sans-serif;
	font-weight: 350;
	display: inline-block;
	text-align: center;
	position: relative;
	z-index: 10;
}

/*===================================================================================*/
/*                             SECTION 3 START                                       */
/*===================================================================================*/

.section3 {
	margin: 0;
	width: 100%;
	height: auto;
    z-index: 10;
	background-color: #ffffff;
	position: relative;
	border-bottom: 2px solid #dddddd;
	top: 0;
	background-size: cover;
	background-image: url("QuoteBanner.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

.section3 br {
	margin: 0;
	padding: 0;
}

.quote-wrapper {
	height: 100%;
	width: auto;
	margin: 10% 0% 10% 0%;
	position: relative;
	z-index: 20;
}

.quote {
	font-size: 7vmin;
	font-family: 'Roboto Slab';
	font-style: italic;
	color: white;
	text-align: center;
	margin: 0;
}

.quoteauthor {
	font-size: 3.5vmin;
	font-family: 'Roboto Slab';
	font-style: italic;
	color: #cccccc;
	text-align: center;
	margin: 2% 0% 0% 0%;
}

/* If the screen size is 601px or less*/
@media only screen and (max-width: 600px) {
	.quote {
		font-size: 4vmin;
	}
	.quoteauthor {
		font-size: 2vmin;
	}
}

/*===================================================================================*/
/*                             SECTION 4 START                                       */
/*===================================================================================*/

.section4 {
	margin: 0;
	width: 100%;
	height: auto;
    z-index: 10;
	background-color: #ffffff;
	position: relative;
	top: 0;
}

/*.rollogoabout {
	height: 15vw;
	position: relative;
	z-index: 6;
	top: 0;
	left: 5%;
}

.abouttext {
	width: 50%;
	left: 10%;
	font-size: 1.3vw;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: left;
	z-index: 10;
	color: white;
	display: inline-block;
	position: relative;
}

.button {
	position: absolute;
	top: 10%;
	width: 15%;
	height: 80%;
	left: 80%;
	display: inline-block;
	border-radius: 3px;
	border: solid white 4px;
	font-size: 1vw;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: center;
	line-height: 80%;
	vertical-align: center;
	z-index: 15;
	color: white;
	background-color: rgba(0,0,0,0);
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.button:hover {
	background-color: #FFFFFF;
}

.button p{
	font-size: 750%;
	margin-top: 35%;
	filter: grayscale(100%);
}

.button:hover > p {
	filter: grayscale(0%);
}*/

/* Slideshow container */
.owl-carousel {
	top: 0;
	max-width: 1920px;
	position: relative;
	overflow: hidden;
}

/* Hide the images by default
.item {
    display: none;
}*/

.item img {
	margin-top: -0.5%;
	margin-bottom: -0.5%;
	transition: all 0.6s ease-in-out;
	position: relative;
	filter: blur(0px);
	transform: scaleY(1.01);
}

.animate {
  transition: all .5s ease-out;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
	color: white;
	background-color: rgba(255, 255, 255, 0.1);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease-in-out;
	border-radius: 0 3px 3px 0;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

/* Caption text */
.slideText {
	color: #FFFFFF;
	font-size: 8vw;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
	font-family: Lato;
	cursor: pointer;
	-webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
	transition: all 0.6s ease-in-out;
}

.clickMeSlide {
	position: absolute;
	top: 60%;
	left: 50%;
	text-align: center;
	width: 100%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: Lato;
	font-size: 1.5vw;
	opacity: 0;
	transition: opacity 0.6s ease-in-out;
}

.slideText:hover ~ .clickMeSlide {
	opacity: 1;
	transition: opacity 0.6s ease-in-out;
}

.slideText:hover ~ .item img {
	filter: blur(5px);
}

.dotWrapper {
	height: 0;
	position: relative;
	top: -10vw;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 0.75vw;
	width: 0.75vw;
	margin: 0 2px;
	background-color: #777777;
	border-radius: 50%;
	display: inline-block;
	top: 20px;
	position: relative;
	transition: background-color 0.6s ease-in-out;
}

.active2, .dot:hover {
	background-color: #FFFFFF;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
	.prev, .next,.text {font-size: 11px}
}

/* On smaller screens, decrease top value .dot */
@media only screen and (max-width: 600px) {
	.dot {top: 0px}
}

/* On smaller screens, make .clickMeSlide larger */
@media only screen and (max-width: 600px) {
	.clickMeSlide {
		font-size: 2vw;
		opacity: 1;
	}
}

/*===================================================================================*/
/*                             SECTION 5 START                                       */
/*===================================================================================*/

.section5 {
	margin: 0;
	width: 100%;
	height: 100%;
    z-index: 0;
	background-color: #ffffff;
	position: relative;
	border-top: 2px solid #dddddd;
}

.social-wrapper{
	display: flex;
	position: relative;
	justify-content: space-around;
	flex-shrink: 0;
    height: auto;
	z-index: 5;
	margin: 1% 0% 1% 10%;
}

.social-hex {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	padding-right: 10%;
}

.social-wrapper img {
	z-index: 10;
	filter: grayscale(100%);
	transition: all 0.2s ease-in-out;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
}

.social-wrapper img:hover {
	filter: grayscale(0%);
}

.connect {
	position: relative;
	top: 0;
	float: right;
	display: flex;
    justify-content: center;
    flex-direction: column;
	height: auto;
	width: auto;
	margin: 0;
	padding-right: 20%;
	font-size: 2vw;
	font-family: Lato, sans-serif;
	font-weight: 300;
	text-align: center;
	z-index: 5;
	color: black;
	font-weight: 300;
}

.connect h2,h3 {
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
}

.connect h3:hover {
	color: #00ddff;
}

/*===================================================================================*/
/*                             SECTION 6 START                                       */
/*===================================================================================*/

.section6 {
	margin: 0;
	width: 100%;
	height: 100%;
    z-index: 0;
	background-color: #202020;
	position: relative;
	border-top: 5px solid;
	border-image: linear-gradient(to right,#0873fd 25%, #9362f7 50%, #b855ee 75%, #d745e2 100%) 1;
}

.copyright-footer {
	width: 100%;
	height: auto;
}

.copyright-footer p {
	color: #505050;
	font-family: 'Lato';
	font-size: 100%;
	line-height: 300%;
	text-align: center;
}