@font-face{
    font-family: "ExistenceLight";
    src: url('ExistenceLightTTF.ttf');
	src: url('ExistenceLightOTF.otf');
}	

@font-face{
	font-family: "EternalCall";
	src: url('EternalCall.ttf');
}


body{
	margin: 0;
	overflow: auto;
	height: 100%;
}

@media only screen and (max-width: 600px) {
	body {
		-webkit-user-select: none; /* Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */
	}
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  background: #5CCDE8; /* WebKit/Blink Browsers */
}

.section1 {
	margin: 0;
	width: 100%;
	height: auto;
    z-index: 20;
	background-color: #ffffff;
	position: relative;
	top: 0;
	border-bottom: 2px solid #dddddd;
}

.active {
	border-bottom: solid 2px #4286f4;
}

/*===================================================================================*/
/*                                  MENU START                                       */
/*===================================================================================*/

.menudiv {
	top: 0%;
	margin: 0;
	padding: 0;
	height: 4vw;
	width: 100% !important;
	position: fixed;
	z-index: 1000;
}

.menu {
	margin: 0;
	position: absolute;
	top: 0;
	display: flex;
	width: 100%;
	height: 4vw;
	line-height: 4vw;
	padding: 0;
	transition: all 0.4s ease-in-out;
	z-index: 1000;
}

.menu ul{
	z-index: 1000
}

.menu li {
	margin-top: 0;
	padding: 0;
	width: 8%;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
	display: block;
	transition: all 0.5s ease-in-out;
}

#menubutton2 {
	width: 10%;
}

.menu li a:hover {
	border-bottom: 2px solid white;
	transition: all 0.4s ease-in-out;
}

.menu li a {
	text-decoration: none;
	color: white;
	font-family: Lato;
	font-size: 1vw;
	padding: 0;
	transition: all 0.4s ease-in-out;
	z-index: 200;
}

.past-main {
	background-color: black;
	transition: all 0.2s ease-in-out;
	z-index: 1000;
}

/* If the screen size is 601px or less*/
@media only screen and (max-width: 600px) {
    .menu li a {
		font-size: 3vw;
    }
	.menu li {
		width: 20%;
	}
	.menu {
		height: 10vw;
		line-height: 10vw;
	}
	.menudiv {
		height: 4vw;
	}
}

/*===================================================================================*/
/*                             SECTION 1 START                                       */
/*===================================================================================*/

.header-hero-image {
	height: 100vh;
	width: 100% !important;
	position: relative;
	background-size: cover;
	background-image: url("header-hero-image.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

.hero-text-wrapper {
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 10;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hero-main-text {
	position: relative;
	margin: 0;
	color: white;
	font-family: 'Lato';
	font-size: 10vmin;
	text-align: center;
	z-index: 30;
}

.hero-sub-text {
	position: relative;
	margin-top: 2%;
	color: #dddddd;
	font-family: 'Lato';
	font-size: 3vmin;
	text-align: center;
	z-index: 20;
}

.button-container {
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	flex-wrap: wrap;
	margin: 0 auto;
}

.hero-button {
	flex: 1 1 auto;
	margin: 10px;
	padding: 30px;
	text-align: center;
	text-transform: uppercase;
	transition: background-position 0.5s ease-in-out;
	transition: border-bottom-color 0.2s ease-in-out;
	background-size: 300% auto;
	color: white;
	font-family: 'Lato';
	text-decoration: none;
	font-size: 5vmin;
	border-bottom: 5px solid white;
	border-radius: 10px;
	background-image: linear-gradient(to right,#0873fd 20%, #9362f7 30%, #b855ee 40%, #d745e2 50%, #ea31ca 60%, #f71bb1 70%, #ff0098 80%, #ff3d54 90%, #ee7315 100%);
}

.hero-button:hover {
	background-position: right bottom;
	transition: all 0.5s ease-in-out;
}

.hero-button:focus {
	border-bottom-color: #555555;
	transition: all 0.2s ease-in-out;
}

/* If the screen size is 601px or less*/
@media only screen and (max-width: 600px) {
	.hero-main-text {
		font-size: 8vmin;
    }
	.hero-sub-text {
		font-size: 4vmin;
	}
	.button-container {
		white-space: nowrap;
	}
}
	
/*===================================================================================*/
/*                             SECTION 2 START                                       */
/*===================================================================================*/

.section2 {
	margin: 0;
	width: 100%;
	height: auto;
    z-index: 20;
	background-color: #ffffff;
	position: static;
	top: 0;
}

.section2 h1 {
	width: 100% !important;
	height: auto;
	margin: 2% 0% 0% 0%;
	font-family: 'Lato';
	font-size: 6vw;
	font-style: none;
	text-align: center;
}

.section2-h1-line {
	width: 36%;
	position: relative;
	left: 50%;
	transform: translate(-50%,0%);
	border-bottom: 5px solid;
	border-image: linear-gradient(to right,#0873fd 25%, #9362f7 50%, #b855ee 75%, #d745e2 100%) 1;
	margin: 0;
}

/*================IMAGE FLEX================*/
.about-flex-wrapper {
	width: 100% !important;
	height: 100%;
	position: relative;
	z-index: 10;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.about-image-wrapper {
	width: 33.333333%;
	height: 100%;
	position: relative;
	display: flex;
	z-index: 80;
	margin: 5% 2.5% 1% 2.5%;
}

.about-image-flex-wrap {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.sub-image-wrapper {
	text-align: center;
	z-index: 90;
}

.sub-image-wrapper img {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 100;
}

/*================TEXT FLEX================*/
.about-text-wrapper {
	width: 90%;
	height: auto;
	margin-left: 5%;
	position: absolute;
	top: 37%;
	z-index: 125;
	display: flex;
	justify-content: space-around;
}

.sub-text-wrapper {
	width: 100%;
	position: absolute;
	z-index: 150;
}

.sub-text-wrapper h1 {
	position: absolute;
	z-index: 200;
	font-family: 'Lato';
	font-size: 4vmin;
	color: white;
	margin: 0;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

.sub-text-column-wrapper {
	width: 100%;
	height: auto;
	padding: 5% 0% 5% 0%;
	position: relative;
	z-index: 150;
	left: 0;
}

.sub-text-column-wrapper p {
	position: relative;
	z-index: 200;
	font-family: 'Lato';
	font-size: 2vmin;
	color: black;
	margin: 0;
	margin-left: 10%;
	margin-right: 10%;
	line-height: 3vmin;
}

/*================Responsive Web Design================*/

/* If the screen size is 601px or less*/
@media only screen and (max-width: 600px) {
	.section2 h1 {
		font-size: 12vmin;
	}
	.about-flex-wrapper {
		flex-direction: column;
	}
	.about-image-wrapper {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
	.sub-text-wrapper h1 {
		font-size: 10vmin;
	}
	.sub-text-column-wrapper p {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		font-size: 6vmin;
		line-height: 7vmin;
	}
}

/*===================================================================================*/
/*                             SECTION 3 START                                       */
/*===================================================================================*/

.section3 {
	margin: 0% 0% 0% 0%;
	width: 100%;
	min-height: 41vmax;
    z-index: 10;
	background-color: #ffffff;
	position: relative;
	border-bottom: 2px solid #dddddd;
	top: 0;
	background-size: cover;
	background-image: url("about-history.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

.section3 h1 {
	width: 100% !important;
	height: auto;
	margin: 2% 0% 0% 0%;
	position: relative;
	font-family: 'Lato';
	font-size: 6vw;
	font-style: none;
	text-align: center;
	color: white;
}

@media only screen and (max-width: 600px) {

	.section3{
		min-height: 120vmin;
	}

}

/*==================Timeline slideshow start==================*/

ol, ul{
	list-style: none;
}

.cd-horizontal-timeline {
    opacity: 0;
    margin: 2em auto;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    transition: opacity .2s
}

.cd-horizontal-timeline::before {
    content: 'mobile';
    display: none
}

.cd-horizontal-timeline.loaded {
    opacity: 1
}

.cd-horizontal-timeline .timeline {
    position: relative;
    height: 100px;
    width: 90%;
    max-width: 1600px;
    margin: 0 auto
}

.cd-horizontal-timeline .events-wrapper {
    position: relative;
    height: 100%;
    margin: 0 40px;
    overflow: hidden
}

.cd-horizontal-timeline .events-wrapper::after,.cd-horizontal-timeline .events-wrapper::before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 20px
}

.cd-horizontal-timeline .events {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 49px;
    height: 2px;
    background: #dfdfdf;
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    transition: transform .4s
}

.cd-horizontal-timeline .filling-line {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4286f4;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s
}

.cd-horizontal-timeline .events a {
    position: absolute;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
    bottom: 0;
    z-index: 2;
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 15px;
    color: white;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0)
}

.cd-horizontal-timeline .events a::after {
    content: '';
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -7px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid #ffffff;
	background-color: #ffffff;
    -webkit-transition: background-color .3s,border-color .3s;
    -moz-transition: background-color .3s,border-color .3s;
    transition: background-color .3s,border-color .3s
}

.no-touch .cd-horizontal-timeline .events a:hover::after {
    background-color: #4286f4;
    border-color: #4286f4;
}

.cd-horizontal-timeline .events a.selected {
    pointer-events: none
}

.cd-horizontal-timeline .events a.selected::after {
    background-color: #4286f4;
    border-color: #4286f4;
}

.cd-horizontal-timeline .events a.older-event::after {
    border-color: #4286f4;
}

@media only screen and (min-width: 1100px) {
    .cd-horizontal-timeline {
        margin: 6em auto
    }

    .cd-horizontal-timeline::before {
        content: 'desktop'
    }
}

.cd-timeline-navigation a {
    position: absolute;
    z-index: 1;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: border-color .3s;
    -moz-transition: border-color .3s;
    transition: border-color .3s
}

.cd-timeline-navigation a::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/cd-arrow.svg) no-repeat 0 0
}

.cd-timeline-navigation a.prev {
    left: 0;
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg)
}

.cd-timeline-navigation a.next {
    right: 0
}

.no-touch .cd-timeline-navigation a:hover {
    border-color: #4286f4
}

.cd-timeline-navigation a.inactive {
    cursor: not-allowed
}

.cd-timeline-navigation a.inactive::after {
    background-position: 0 -16px
}

.no-touch .cd-timeline-navigation a.inactive:hover {
    border-color: #dfdfdf
}

.cd-horizontal-timeline .events-content {
    position: relative;
    width: 95%;
    margin: 2em 0;
	padding: 0% 0% 0% 5%;
    overflow: hidden;
    -webkit-transition: height .4s;
    -moz-transition: height .4s;
    transition: height .4s
}

.cd-horizontal-timeline .events-content ol {
	padding: 0;
}

.cd-horizontal-timeline .events-content li {
    position: absolute;
    z-index: 1;
    width: 95%;
    left: 0%;
    top: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out
}

.cd-horizontal-timeline .events-content li.selected {
    position: relative;
    z-index: 2;
    opacity: 1;
	top: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0)
}

.cd-horizontal-timeline .events-content li.enter-right,.cd-horizontal-timeline .events-content li.leave-right {
    -webkit-animation-name: cd-enter-right;
    -moz-animation-name: cd-enter-right;
    animation-name: cd-enter-right
}

.cd-horizontal-timeline .events-content li.enter-left,.cd-horizontal-timeline .events-content li.leave-left {
    -webkit-animation-name: cd-enter-left;
    -moz-animation-name: cd-enter-left;
    animation-name: cd-enter-left
}

.cd-horizontal-timeline .events-content li.leave-right,.cd-horizontal-timeline .events-content li.leave-left {
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    animation-direction: reverse
}

.cd-horizontal-timeline .events-content li>* {
    max-width: 100vw;
    margin: 0;
}

.cd-horizontal-timeline .events-content h2 {
    font-family: 'Lato',sans-serif;
	color: white;
}

.cd-horizontal-timeline .events-content em {
    display: block;
    font-style: italic;
    margin: 10px auto;
	font-family: 'Lato', sans-serif;
	color: #dddddd;
}

.cd-horizontal-timeline .events-content em::before {
    content: '- '
}

.cd-horizontal-timeline .events-content p {
    font-size: 1rem;
    color: #FFFFFF;
	font-family: 'Open Sans';
}

.cd-horizontal-timeline .events-content em,.cd-horizontal-timeline .events-content p {
    line-height: 1.6
}

@media only screen and (min-width: 768px) {
    .cd-horizontal-timeline .events-content h2 {
        font-size: 3rem;
    }

    .cd-horizontal-timeline .events-content em {
        font-size: 2rem
    }

    .cd-horizontal-timeline .events-content p {
        font-size: 1.8rem
    }
}

@-webkit-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%)
    }
}

@-moz-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -moz-transform: translateX(100%)
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0%)
    }
}

@keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%)
    }
}

@-webkit-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%)
    }
}

@-moz-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100%)
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0%)
    }
}

@keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%)
    }
}

/*===================================================================================*/
/*                             SECTION 4 START                                       */
/*===================================================================================*/

.section4 {
	margin: 0% 0% 0% 0%;
	width: 100%;
	height: auto;
	background-color: #ffffff;
	position: relative;
	top: 0;
	z-index: 10;
}

.section4 h1 {
	width: 100% !important;
	height: auto;
	margin: 2% 0% 0% 0%;
	position: relative;
	font-family: 'Lato';
	font-size: 6vw;
	font-style: none;
	text-align: center;
}

/*----PORTRAITS----*/

.testemonial-wrapper-1, .testemonial-wrapper-2 .testemonial-wrapper-3 {
	position: relative;
}

.portrait-wrapper-1 {
	position: relative;
	margin-top: 0%;
	height: 100%;
	width: 66%;
	overflow: hidden;
}

.cd-background-wrapper-1, .cd-background-wrapper-2, .cd-background-wrapper-3 {
  overflow: hidden;
  display: block;
  height: 100%;
}

.cd-floating-background {
  transform-style: preserve-3d;
}

.cd-portrait-bg-1, .cd-portrait-bg-2, .cd-portrait-bg-3 {
	width: 100%;
	transform: translateY(15%);
}

.cd-portrait-img-1, .cd-portrait-img-2, .cd-portrait-img-3 {
	position: absolute;
	transform: translateY(-5%);
}

.cd-floating-background img:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
}

.portrait-textbox-1 {
	position: absolute;
	z-index: 30;
	width: 30%;
	left: 67%;
	top: 10%;
	font-size: 1vmax;
	font-family: 'Open Sans';
}

/*-----PORTRAIT 2-----*/

.testemonial-wrapper-2 {
	position: relative;
}

.portrait-wrapper-2 {
	position: relative;
	margin-top: 0%;
	height: 100%;
	width: 66%;
	left: 33%;
	overflow: hidden;
}

.portrait-textbox-2 {
	position: absolute;
	z-index: 30;
	width: 30%;
	left: 2.5%;
	top: 10%;
	font-size: 1vmax;
	font-family: 'Open Sans';
}

.cd-portrait-img-2 {
	transform: translateX(15%);
}

/*-----PORTRAIT 3-----*/

.testemonial-wrapper-3 {
	position: relative;
	padding-bottom: 2vmin;
}

.portrait-wrapper-3 {
	position: relative;
	margin-top: 0%;
	height: 100%;
	width: 66%;
	left: 0%;
	overflow: hidden;
}

.portrait-textbox-3 {
	position: absolute;
	z-index: 30;
	width: 30%;
	left: 67%;
	top: 10%;
	font-size: 1vmax;
	font-family: 'Open Sans';
}

.cd-portrait-img-3 {
	transform: translateX(15%);
}

/*================Responsive Web Design================*/

/* If the screen size is 601px or less*/
@media only screen and (max-width: 600px) {
	.section4 h1{
		font-size: 12vmin;
	}
	.cd-portrait-img-1, .cd-portrait-img-2, .cd-portrait-img-3 {
		visibility: hidden;
	}
	.testemonial-wrapper-1, .testemonial-wrapper-2, .testemonial-wrapper-3 {
		margin-top: 1%;
	}
	.portrait-wrapper-1, .portrait-wrapper-2, .portrait-wrapper-3 {
		width: 90%;
		left: 5%;
	}
	.portrait-textbox-1, .portrait-textbox-2, .portrait-textbox-3 {
		width: 90%;
		left: 5%;
		position: relative;
	}
	.portrait-textbox-1 p, .portrait-textbox-2 p, .portrait-textbox-3 p {
		margin-top: 1%;
		font-size: 6vmin;
	}
}

/*===================================================================================*/
/*                             SECTION 6 START                                       */
/*===================================================================================*/

.section6 {
	margin: 0;
	width: 100%;
	height: 100%;
    z-index: 0;
	background-color: #202020;
	position: relative;
	border-top: 5px solid;
	border-image: linear-gradient(to right,#0873fd 25%, #9362f7 50%, #b855ee 75%, #d745e2 100%) 1;
}

.copyright-footer {
	width: 100%;
	height: auto;
}

.copyright-footer p {
	color: #505050;
	font-family: 'Lato';
	font-size: 100%;
	line-height: 300%;
	text-align: center;
	margin: 0;
}

/*================Responsive Web Design================*/

/* If the screen size is 601px or less*/
@media only screen and (max-width: 600px) {
	.copyright-footer p {
		color: white;
		font-size: 3vmin;
		line-height: 6vmin;
	}
}