@font-face{
    font-family: "ExistenceLight";
    src: url('ExistenceLightTTF.ttf');
	src: url('ExistenceLightOTF.otf');
}	

@font-face{
	font-family: "EternalCall";
	src: url('EternalCall.ttf');
}


body{
	margin: 0;
	overflow: auto;
	height: 100%;
}

@media only screen and (max-width: 600px) {
	body {
		-webkit-user-select: none; /* Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */
	}
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  background: #5CCDE8; /* WebKit/Blink Browsers */
}

.section1 {
	margin: 0;
	width: 100%;
	height: auto;
    z-index: 20;
	background-color: #ffffff;
	position: relative;
	top: 0;
	border-bottom: 2px solid #dddddd;
}

.active {
	border-bottom: solid 2px #4286f4;
}

.menudiv {
	top: 0%;
	margin: 0;
	padding: 0;
	height: 4vw;
	width: 100% !important;
	position: fixed;
	z-index: 100;
}

.menu {
	margin: 0;
	position: absolute;
	top: 0;
	display: flex;
	width: 100%;
	height: 4vw;
	line-height: 4vw;
	padding: 0;
	transition: all 0.4s ease-in-out;
}

.menu li {
	margin-top: 0;
	padding: 0;
	width: 8%;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
	display: block;
	transition: all 0.5s ease-in-out;
}

.menu li a:hover {
	border-bottom: 2px solid white;
	transition: all 0.4s ease-in-out;
}

.menu li a {
	text-decoration: none;
	color: white;
	font-family: Lato;
	font-size: 1vw;
	padding: 0;
	transition: all 0.4s ease-in-out;
	z-index: 200;
}

.past-main {
	background-color: black;
	transition: all 0.2s ease-in-out;
}

/* If the screen size is 601px or less*/
@media only screen and (max-width: 600px) {
    .menu li a {
		font-size: 2vw;
    }
	.menu li {
		width: 20%;
	}
	.menu {
		height: 8vw;
		line-height: 8vw;
	}
	.menudiv {
		height: 4vw;
	}
}

/*===================================================================================*/
/*                             SECTION 1 START                                       */
/*===================================================================================*/

.header-hero-image {
	height: auto;
	width: 100% !important;
	min-height: 60vmin;
	position: relative;
	background-size: cover;
	background-image: url("header-hero-image.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

.hero-text-wrapper {
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 10;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hero-main-text {
	position: relative;
	margin: 0;
	color: white;
	font-family: 'Lato';
	font-size: 6vmin;
	text-align: center;
	z-index: 30;
}

.hero-sub-text {
	position: relative;
	margin-top: 5%;
	color: #bbbbbb;
	font-family: 'Lato';
	font-size: 3vmin;
	text-align: center;
	z-index: 20;
}

/*===================================================================================*/
/*                             SECTION 2 START                                       */
/*===================================================================================*/

.section2 {
	margin: 0;
	width: 100%;
	height: auto;
    z-index: 20;
	background-color: #ffffff;
	border-bottom: 2px solid #dddddd;
	position: static;
	top: 0;
}

.section2 h1 {
	width: 100% !important;
	height: auto;
	margin: 2% 0% 0% 0%;
	font-family: 'Lato';
	font-size: 6vw;
	font-style: none;
	text-align: center;
}

.section2-h1-line {
	width: 36%;
	position: relative;
	left: 50%;
	transform: translate(-50%,0%);
	border-bottom: 5px solid;
	border-image: linear-gradient(to right,#0873fd 25%, #9362f7 50%, #b855ee 75%, #d745e2 100%) 1;
	margin: 0;
}

/*================Workflow================*/
.workflow-wrapper, .workflow-text-wrapper {
	height: auto;
	width: 80%;
	display: flex;
	justify-content: space-around;
	position: relative;
	z-index: 10;
	margin: 3% 10% 3% 10%;
}

.workflow-wrapper img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	margin: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}

.workflow, .workflow-arrow {
	height: 8vmax;
	width: 8vmax;
}

/*================Workflow Text================*/
.workflow-text-wrapper {
	margin: 0% 2% 2% 2%;
	width: 96% !important;
	overflow-x: hidden;
}

.workflow-textbox {
	width: 30%;
	height: auto;
	font-family: 'Lato';
	font-size: 3vmin;
	position: relative;
	z-index: 70;
	margin: 0% 3% 0% 3%;
	border-bottom: 2px solid;
	border-image: linear-gradient(to right,#0873fd 25%, #9362f7 50%, #b855ee 75%, #d745e2 100%) 1;
	vertical-align: bottom;
}

.workflow-textbox p {
	text-align: center;
}

.tb1{
	border-bottom: 3px solid;
	border-image: linear-gradient(to right,#0873fd 0%, #9362f7 50%, #b855ee 100%) 1;
}

.tb2{
	border-bottom: 3px solid;
	border-image: linear-gradient(to right,#d745e2 0%, #ea31ca 50%, #f71bb1 100%) 1;
}

.tb3{
	border-bottom: 3px solid;
	border-image: linear-gradient(to right,#ff0098 0%, #ff3d54 50%, #ee7315 100%) 1;
}

/*===================================================================================*/
/*                             SECTION 3 START                                       */
/*===================================================================================*/

.section3 {
	margin: 0;
	width: 100%;
	height: auto;
    z-index: 10;
	background-color: #ffffff;
	position: relative;
	border-bottom: 2px solid #dddddd;
	top: 0;
	background-size: cover;
	background-image: url("QuoteBanner.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

.section3 br {
	margin: 0;
	padding: 0;
}

.quote-wrapper {
	height: 100%;
	width: auto;
	margin: 10% 0% 10% 0%;
	position: relative;
	z-index: 20;
}

.quote {
	font-size: 7vmin;
	font-family: 'Roboto Slab';
	font-style: italic;
	color: white;
	text-align: center;
	margin: 0;
}

.quoteauthor {
	font-size: 3.5vmin;
	font-family: 'Roboto Slab';
	font-style: italic;
	color: #cccccc;
	text-align: center;
	margin: 2% 0% 0% 0%;
}

/* If the screen size is 601px or less*/
@media only screen and (max-width: 600px) {
	.quote {
		font-size: 4vmin;
	}
	.quoteauthor {
		font-size: 2vmin;
	}
}

/*===================================================================================*/
/*                             SECTION 4 START                                       */
/*===================================================================================*/

.section4 {
	margin: 0;
	width: 100%;
	height: auto;
    z-index: 100;
	background-color: #ffffff;
	position: relative;
	border-bottom: 2px solid #dddddd;
	top: 0;
}

.commission-text-wrapper {
	width: 40%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;

}

.commission-form-text {
	top: 50%;
	left: 25%;
	width: 100%;
	transform: translate(0%, -50%);
	position: absolute;
	text-align: left;
}
.commission-form-text h1 {
	width: auto;
	position: relative;
	z-index: 100;
	margin: 0;
	font-size: 250%;
	font-family: 'Lato';
}

#typed {

}

.form-container {
	height: auto;
	width: auto;
	padding-top: 2%;
	margin: 0% 10% 0% 60%;
	z-index: 15;
	position: relative;
	overflow-x: hidden;
}

.form-container fieldset {
	padding: 0% 0% 0% 0%;
	margin: 2% 0% 0% 0%;
}

.field-group {
    width: 100%; 
    border: none;
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

.button-success {
	position: relative;
	width: 20%;
	height: 4%;
	left: 50%;
	transform: translate(-50%, 0%);
	margin: 5% 0% 5% 0%;
	background-color: #2a5599;
	border-bottom: 1px solid black;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.button-success:hover {
	background-color: #4286f4;
}

.button-success p {
	padding: 0;
	text-align: center;
	color: white;
	font-size: 1.5vmin;
	font-family: 'Lato';
}

input, textarea {
    display: block;
    margin: 0;
    width: 100%;
    font-family: 'Lato';
    font-size: 0.8vw;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    padding: 1vmin;
    border: none;
	border: 1px solid rgba(0,0,0,0);
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
	background-color: #eeeeee;
}
input:focus, textarea:focus {
    outline: none;
	border: 1px solid #eeeeee;
    border-bottom: solid 2px #4286f4;
	background-color: #ffffff;
}

textarea {
	height: 4vw;
}

label {
	font-family: 'Lato';
	font-size: 2vmin;
}

.form-thankyou {
	font-family: 'Open Sans';
	font-size: 0.9vw;
	color: black;
	border-bottom: 1px solid #AAAAAA;
}

/*===================================================================================*/
/*                             SECTION 6 START                                       */
/*===================================================================================*/

.section6 {
	margin: 0;
	width: 100%;
	height: 100%;
    z-index: 0;
	background-color: #202020;
	position: relative;
	border-top: 5px solid;
	border-image: linear-gradient(to right,#0873fd 25%, #9362f7 50%, #b855ee 75%, #d745e2 100%) 1;
}

.copyright-footer {
	width: 100%;
	height: auto;
}

.copyright-footer p {
	color: #505050;
	font-family: 'Lato';
	font-size: 100%;
	line-height: 300%;
	text-align: center;
}
